In [1]:
!ls

5_6190749518103839648.csv  sample_data

In [3]:
import pandas as pd

In [8]:
df=pd.read_csv("5_6190749518103839648.csv")

In [10]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df['City'].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [15]:
len(df['City'].unique())

22

In [38]:
df[df['Medal']=='Gold'].max()

Year                          2012
City                         Tokyo
Sport                    Wrestling
Discipline         Wrestling Gre-R
Athlete       ÖSTERVOLD, Ole Olsen
Gender                       Women
Event                Épée, Masters
Medal                         Gold
dtype: object

In [42]:
df['Medal'].max['Sport']

TypeError: ignored